/* THEME CUSTOMIZATION */
.emoji {
    font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #fff;
    --primary: #1F2937;
    --secondary: #374151;
    --tertiary: #6B7280;
    --content: #374151;
    --hljs-bg: #1E293B;
    --code-bg: #F1F5F9;
    --border: #E2E8F0;
    --text-multiplier: 1;
    --headings-multiplier: 1;
}

.dark {
    --theme: #111827;
    --entry: #1E293B;
    --primary: #F8FAFC;
    --secondary: #F1F5F9;
    --tertiary: #CBD5E1;
    --content: #F8FAFC;
    --hljs-bg: #2e2e33;
    --code-bg: #475569;
    --border: #334155;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

/* FONTS */

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/PublicSans-Thin.woff2") format("woff2"),
        url("/fonts/PublicSans-Thin.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/PublicSans-ThinItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/PublicSans-ExtraLight.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/PublicSans-ExtraLightItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PublicSans-Light.woff2") format("woff2"),
        url("/fonts/PublicSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/PublicSans-LightItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
        url("/fonts/PublicSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/PublicSans-Italic.woff2") format("woff2"),
        url("/fonts/PublicSans-Italic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/PublicSans-Medium.woff2") format("woff2"),
        url("/fonts/PublicSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/PublicSans-MediumItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBold.woff2") format("woff2"),
        url("/fonts/PublicSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PublicSans-Bold.woff2") format("woff2"),
        url("/fonts/PublicSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/PublicSans-BoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/PublicSans-ExtraBold.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/PublicSans-ExtraBoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/PublicSans-Black.woff2") format("woff2"),
        url("/fonts/PublicSans-Black.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/PublicSans-BlackItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-BlackItalic.woff") format("woff");
}

html {
    font-family: 'Public Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    font-size: 16px;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    line-height: 24px;
    line-height: 1.5rem;
    margin: 0px 0px 24px;
    margin: 0rem 0rem 1.5rem;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* MEDIA FONT SIZE AND SPACING */

@media (min-width: 688px) and (max-width: 992px) {
    :root {
        --text-multiplier: 1.125;
        --headings-multiplier: 1.25;
    }

    * {
        line-height: 27px;
        line-height: 1.6875rem;
        margin: 0px 0px 27px;
        margin: 0rem 0rem 1.6875rem;
    }
}

@media (min-width: 992px) {
    :root {
        --text-multiplier: 1.25;
        --headings-multiplier: 1.5;
    }

    * {
        line-height: 30px;
        line-height: 1.875rem;
        margin: 0px 0px 30px;
        margin: 0rem 0rem 1.875rem;
    }
}

h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

h2 {
    font-size: calc(1.5rem * var(--headings-multiplier));
    margin-top: 1.3195rem;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

h3 {
    font-size: calc(1.175rem * var(--headings-multiplier));
}

h4 {
    font-size: calc(1.125em * var(--headings-multiplier));
}

p {
    font-size: calc(1rem * var(--text-multiplier));
}

li {
    font-size: calc(1rem * var(--text-multiplier));
}


/* footer */
@media screen and (max-width: 992px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}








/* body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
} */

/*
@media all and (min-width: 600px) {
    html {
        font-size: 112.5%;
    }
}

@media all and (min-width: 1000px) {
    html {
        font-size: 125%;
    }
}

h1 {
    margin: 0;
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 1.3;
    padding-top: 0.48em;
    /* margin-bottom: -0.48em; */
/* } */
/*
@media all and (min-width: 600px) {
    h1 {
        font-size: 1.625rem;
        padding-top: 0.52em;
        margin-bottom: -0.52em;
    }
}

@media all and (min-width: 1000px) {
    h1 {
        font-size: 1.875rem;
        padding-top: 0.6em;
        margin-bottom: -0.6em;
    }
}

p {
    margin: 0;
    margin-top: 1.5rem;
    padding-top: 0.42em;
    margin-bottom: -0.42em;
}

@media all and (min-width: 600) {
    p {
        padding-top: 0.4725em;
        margin-bottom: -0.4725em;
    }
}

@media all and (min-width: 1000) {
    p {
        padding-top: 0.525em;
        margin-bottom: -0.525em;
    }
}

*/

/* // Notice colors
.notice {
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem 0;
    padding: 0 0.75rem;
    overflow: auto;
}

.notice .notice-title {
    position: relative;
    font-weight: 700;
    margin: 0 -0.75rem;
    padding: 0.2rem 3.5rem;
    border-bottom: 1px solid #fafafa;
}

.notice .notice-title i {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translate(-50%, -50%);
}

.notice .notice-content {
    display: block;
    margin: 2rem 2rem;
}

.notice.question {
    background-color: #9ccc65 1a;
}

.notice.question .notice-title {
    background-color: #8bc34a 1a;
}

.notice.question .notice-title i {
    color: #7cb342;
}

.notice.info {
    background-color: #42a5f5 1a;
}

.notice.info .notice-title {
    background-color: #2196f3 1a;
}

.notice.info .notice-title i {
    color: #1e88e5;
}

.notice.warning {
    background-color: #ffca28 1a;
}

.notice.warning .notice-title {
    background-color: #ffc107 1a;
}

.notice.warning .notice-title i {
    color: #ffb300;
}

.notice.error {
    background-color: #ef5350 1a;
}

.notice.error .notice-title {
    background-color: #f44336 1a;
}

.notice.error .notice-title i {
    color: #e53935;
}

body.colorscheme-dark .notice .notice-title {
    border-bottom: 1px solid #212121;
}

@media (prefers-color-scheme: dark) {
    body.colorscheme-auto .notice .notice-title {
        border-bottom: 1px solid #212121;
    }
} */