/* THEME CUSTOMIZATION */
.emoji {
    font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

:root {
    --gap: 16px;
    --content-gap: 16px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 80px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #F1F5F9;
    --quaternary: #CBD5E1;
    --primary: #c026d3;
    --secondary: #475569;
    --tertiary: #94A3B8;
    --content: #0f172a;
    --hljs-bg: #1E293B;
    --code-bg: #F1F5F9;
    --border: #E2E8F0;
    --text-multiplier: 1;
    --headings-multiplier: 1;
    --site-green: #1CA62A;
    --site-fuchsia: #F62DAE;
    --site-purple: #7926FF;
    --site-blue: #2360FA;
}

.dark {
    --theme: #111827;
    --entry: #1f2937;
    --primary: #4ade80;
    --quaternary: #4b5563;
    --secondary: #9ca3af;
    --tertiary: #d1d5db;
    --content: #e5e7eb;
    --hljs-bg: #1f2937;
    --code-bg: #1f2937;
    --border: #374151;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

/* FONTS */

/* inter-100 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local(''),
         url('/fonts/inter-v7-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-200 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('/fonts/inter-v7-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''),
         url('/fonts/inter-v7-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('/fonts/inter-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('/fonts/inter-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('/fonts/inter-v7-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('/fonts/inter-v7-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/inter-v7-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    font-size: 16px;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

 /* * {
    line-height: 24px;
    line-height: 1.5rem;
    margin: 0px 0px 24px;
    margin: 0rem 0rem 1.5rem;
} */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    word-break: break-word;
    background: var(--theme);

}

body:not(.dark) .image_dark {
    display: none;
  }
  .dark .image_light {
    display: none;
  }

/* Responsive Headings and Text */
@media (min-width: 688px) and (max-width: 992px) {
    :root {
        --text-multiplier: 1.125;
        --headings-multiplier: 1.25;
        --gap: 18px;
        --content-gap: 18px;
    }
    .profile img {
        margin-left: 4px;
        transform: scale(1);
    }
    /* * {
        line-height: 27px;
        line-height: 1.6875rem;
        margin: 0px 0px 27px;
        margin: 0rem 0rem 1.6875rem;
    } */
}

@media (min-width: 992px) {
    :root {
        --text-multiplier: 1.125;
        --headings-multiplier: 1.25;
        --gap: 18px;
        --content-gap: 18px;
    }
    .profile img {
        margin-left: 4px;
        transform: scale(1);
    }
    /* * {
        line-height: 30px;
        line-height: 1.875rem;
        margin: 0px 0px 30px;
        margin: 0rem 0rem 1.875rem;
    } */
}

.page-header h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

.post-title {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

.post-content h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

.post-content h2 {
    font-size: calc(1.5rem * var(--headings-multiplier));
    margin-top: calc(1.5rem * var(--headings-multiplier));
    margin-bottom: calc(1.5rem * var(--headings-multiplier)/2);
}

.post-content h3 {
    font-size: calc(1.175rem * var(--headings-multiplier));
    margin-top: calc(1.175rem * var(--headings-multiplier));
    margin-bottom: calc(1.175rem * var(--headings-multiplier)/2);
}

.post-content h4 {
    font-size: calc(1rem * var(--headings-multiplier));
    margin-top: calc(1rem * var(--headings-multiplier));
    margin-bottom: calc(1rem * var(--headings-multiplier)/2);
}

/* .post-content li {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: 0px;
    margin-bottom: 0px;
} */

h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

h2 {
    font-size: calc(1.5rem * var(--headings-multiplier));
    margin-top: calc(1.5rem * var(--headings-multiplier));
    margin-bottom: calc(1.5rem * var(--headings-multiplier)/2);
}

h3 {
    font-size: calc(1.175rem * var(--headings-multiplier));
    margin-top: calc(1.175rem * var(--headings-multiplier));
    margin-bottom: calc(1.175rem * var(--headings-multiplier)/2);
}

h4 {
    font-size: calc(1.125rem * var(--headings-multiplier));
    margin-top: calc(1.125rem * var(--headings-multiplier));
    margin-bottom: calc(1.125rem * var(--headings-multiplier)/2);
}

p {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(1rem * var(--text-multiplier) / 2);
    margin-bottom: calc(1rem * var(--text-multiplier)/2);
}

ol {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(-0.25rem * var(--text-multiplier));
    margin-bottom: calc(0.25rem * var(--text-multiplier)/2);
}


li {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(0.5rem * var(--text-multiplier));
    margin-bottom: calc(0.5rem * var(--text-multiplier)/2);
}

/* Core Headings Colors */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--content);
}

a,
button {
    color: var(--primary);
}

/* ADDITIONAL SIZING FROM  */
/* footer.css */
.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: var(--content-gap);
    z-index: 99;
    background: var(--entry);
    border: 10px;
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s, opacity 0.8s linear;
}

.top-link,
.top-link svg {
    color: var(--primary);
    /* filter: drop-shadow(0px 0px 0px var(--content)); */
}

.footer a {
    /* color: inherit; */
    border-bottom: 1px solid var(--primary);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}




/* header.css */

.logo a {
    color: var(--content);
    font-size: 24px;
    font-weight: 500;
}

#theme-toggle svg {
    height: 20px;
}

button#theme-toggle {
    font-size: 32px;
    margin: auto 4px;
}

#menu a {
    font-size: 18px;
    font-weight: 500;
}

.read-more {
    font-weight: 600;
}

/* main.css */

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.first-entry {
    margin-top: calc(var(--gap));
}

.first-entry .entry-header h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: 0;
}

.first-entry .entry-content {
    margin: 0 0;
    font-size: calc(1rem * var(--text-multiplier));
    -webkit-line-clamp: unset;
}

.first-entry .entry-content p {
    margin-top: 8px;
    margin-bottom: calc(var(--gap));
}

.post-entry {
    margin-bottom: var(--gap);
    padding: calc(var(--gap) / 2) var(--gap) var(--gap) var(--gap);
}

.entry-content {
    color: var(--content);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.post-description {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(1rem * var(--text-multiplier)/2);
    margin-bottom: calc(1rem * var(--text-multiplier)/2);
    color: var(--secondary);
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover img {
    margin-top: var(--gap);
}

.entry-header h2 {
    font-size: calc(1.175rem * var(--headings-multiplier));
    margin-top: calc(1.175rem * var(--headings-multiplier)/2);
    margin-bottom: calc(1.175rem * var(--headings-multiplier)/3);
}

/* post-single.css */

.post-meta,
.breadcrumbs {
    color: var(--secondary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs a {
    font-size: 16px;
}

.post-content code {
    margin: auto -2px 2px;
    padding: 6px 2px;
    /* font-size: calc(1rem * var(--text-multiplier)); */
    font-size: calc(1.5rem * var(--headings-multiplier));
    line-height: 1.5;
    background: none;
    border-radius: 2px;
    font-family: Inter;
}

.post-tags a {
    display: block;
    padding-inline-start: calc(0.8 * var(--gap));
    padding-inline-end: calc(0.8 * var(--gap));
    color: var(--entry-home);
    line-height: calc(1rem + var(--gap));
    font-size: calc(.8rem * var(--text-multiplier));
    background: var(--code-bg);
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    /* font-size: small; */
    color: var(--content);
}

.post-content figure {
    margin-top: calc(2 * var(--content-gap));
    margin-bottom: calc(2 * var(--content-gap));
    margin-left: var(--content-gap);
    margin-right: var(--content-gap);
    display: block;
}

.post-content figure>figcaption {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
    /* text-align: center; */
}

.post-content figure>figcaption>p {
    color: var(--secondary);
    font-size: calc(0.813rem * var(--text-multiplier));
    font-weight: normal;
    margin-left: calc(var(--content-gap) / 2);
    margin-right: calc(var(--content-gap) / 2);
}

.post-content ul {
    margin-left: var(--content-gap);
}

.post-content blockquote {
    color: var(--secondary);
    padding: 0 var(--content-gap);
    border-inline-start: 3px solid var(--primary);
    margin-top: calc(1.5rem * var(--headings-multiplier));
    margin-bottom: calc(1.5rem * var(--headings-multiplier));
}

.post-content blockquote p {
    font-weight: 300;
    font-size: calc(1.25rem * var(--headings-multiplier));

}

.post-content blockquote footer {
    font-style: italic;
    font-size: calc(1rem * var(--text-multiplier));

}

.post-content table {
    margin: var(--content-gap) 0 calc(2 * var(--content-gap)) 0;
}

.post-content table th,
.post-content table:not(.highlighttable, .highlight table, .gist .highlight) td {
    min-width: var(--content-gap);
    padding: calc(var(--content-gap) / 2) 0 calc(var(--content-gap) / 2) 0;
    font-size: calc(0.9rem * var(--text-multiplier));
    text-align: start;

}

.summarytable {
    font-size: calc(1.5rem * var(--headings-multiplier));
}

/* .post-content table th {
    font-size: calc(1.5rem * var(--headings-multiplier));
} */
.post-content table td{
    font-size: calc(0.8rem * var(--text-multiplier));
}

.toc {
    margin: 0 0 calc(var(--content-gap) * 2) 0;
    padding: 0.4em;
}

.toc details summary {
    font-size: calc(1rem * var(--text-multiplier));
    margin-inline-start: calc(var(--content-gap) / 1.5);
}



/* footer */
@media screen and (max-width: 992px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}

video {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}