/* THEME CUSTOMIZATION */
.emoji {
    font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
}

:root {
    --gap: 16px;
    --content-gap: 16px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #fff;
    --entry: #F1F5F9;
    --primary: #F04330;
    --secondary: #334155;
    --tertiary: #6B7280;
    --content: #334155;
    --hljs-bg: #1E293B;
    --code-bg: #F1F5F9;
    --border: #E2E8F0;
    --text-multiplier: 1;
    --headings-multiplier: 1;
    --site-green: #1CA62A;
    --site-fuchsia: #F62DAE;
    --site-purple: #7926FF;
    --site-blue: #2360FA;
}

.dark {
    --theme: #0F172A;
    --entry: #1E293B;
    --primary: #FBBF24;
    --secondary: #94A3B8;
    --tertiary: #D1D5DB;
    --content: #F8FAFC;
    --hljs-bg: #1E293B;
    --code-bg: #0F172A;
    --border: #334155;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}

/* FONTS */

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/PublicSans-Thin.woff2") format("woff2"),
        url("/fonts/PublicSans-Thin.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 100;
    src: url("/fonts/PublicSans-ThinItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ThinItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/PublicSans-ExtraLight.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 200;
    src: url("/fonts/PublicSans-ExtraLightItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/PublicSans-Light.woff2") format("woff2"),
        url("/fonts/PublicSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 300;
    src: url("/fonts/PublicSans-LightItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-LightItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
        url("/fonts/PublicSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/PublicSans-Italic.woff2") format("woff2"),
        url("/fonts/PublicSans-Italic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/PublicSans-Medium.woff2") format("woff2"),
        url("/fonts/PublicSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 500;
    src: url("/fonts/PublicSans-MediumItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBold.woff2") format("woff2"),
        url("/fonts/PublicSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/fonts/PublicSans-SemiBoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PublicSans-Bold.woff2") format("woff2"),
        url("/fonts/PublicSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/PublicSans-BoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/PublicSans-ExtraBold.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 800;
    src: url("/fonts/PublicSans-ExtraBoldItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/PublicSans-Black.woff2") format("woff2"),
        url("/fonts/PublicSans-Black.woff") format("woff");
}

@font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/PublicSans-BlackItalic.woff2") format("woff2"),
        url("/fonts/PublicSans-BlackItalic.woff") format("woff");
}

html {
    font-family: 'Public Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow-y: scroll;
    font-size: 16px;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* * {
    line-height: 24px;
    line-height: 1.5rem;
    margin: 0px 0px 24px;
    margin: 0rem 0rem 1.5rem;
} */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    word-break: break-word;
    background: var(--theme);
}

/* Responsive Headings and Text */
@media (min-width: 688px) and (max-width: 992px) {
    :root {
        --text-multiplier: 1.125;
        --headings-multiplier: 1.25;
        --gap: 20px;
        --content-gap: 20px;
    }

    /* * {
        line-height: 27px;
        line-height: 1.6875rem;
        margin: 0px 0px 27px;
        margin: 0rem 0rem 1.6875rem;
    } */
}

@media (min-width: 992px) {
    :root {
        --text-multiplier: 1.25;
        --headings-multiplier: 1.5;
        --gap: 24px;
        --content-gap: 24px;
    }

    /* * {
        line-height: 30px;
        line-height: 1.875rem;
        margin: 0px 0px 30px;
        margin: 0rem 0rem 1.875rem;
    } */
}

.page-header h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

.post-title {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

.post-content h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/3);
}

.post-content h2 {
    font-size: calc(1.5rem * var(--headings-multiplier));
    margin-top: calc(1.5rem * var(--headings-multiplier));
    margin-bottom: calc(1.5rem * var(--headings-multiplier)/3);
}

.post-content h3 {
    font-size: calc(1.175rem * var(--headings-multiplier));
    margin-top: calc(1.175rem * var(--headings-multiplier));
    margin-bottom: calc(1.175rem * var(--headings-multiplier)/3);
}

.post-content h4 {
    font-size: calc(1rem * var(--headings-multiplier));
    margin-top: calc(1rem * var(--headings-multiplier));
    margin-bottom: calc(1rem * var(--headings-multiplier)/3);
}

.post-content li {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: calc(2rem * var(--headings-multiplier));
    margin-top: 0;
    margin-bottom: calc(2rem * var(--headings-multiplier)/2);
}

h2 {
    font-size: calc(1.5rem * var(--headings-multiplier));
    margin-top: calc(1.5rem * var(--headings-multiplier));
    margin-bottom: calc(1.5rem * var(--headings-multiplier)/2);
}

h3 {
    font-size: calc(1.175rem * var(--headings-multiplier));
    margin-top: calc(1.175rem * var(--headings-multiplier));
    margin-bottom: calc(1.175rem * var(--headings-multiplier)/2);
}

h4 {
    font-size: calc(1.125rem * var(--headings-multiplier));
    margin-top: calc(1.125rem * var(--headings-multiplier));
    margin-bottom: calc(1.125rem * var(--headings-multiplier)/2);
}

p {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(1rem * var(--text-multiplier));
    margin-bottom: calc(1rem * var(--text-multiplier)/2);
}

li {
    font-size: calc(1rem * var(--text-multiplier));
    margin-top: calc(0.5rem * var(--text-multiplier));
    margin-bottom: calc(0.5rem * var(--text-multiplier)/2);
}

/* Core Headings Colors */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--content);
}

a,
button {
    color: var(--primary);
}

/* ADDITIONAL SIZING FROM  */
/* footer.css */
.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

/* header.css */

.logo a {
    /* color: var(--primary); */
    font-size: 24px;
    font-weight: 500;
}

#theme-toggle svg {
    height: 20px;
}

button#theme-toggle {
    font-size: 32px;
    margin: auto 4px;
}

#menu a {
    font-size: 16px;
}

/* main.css */

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

/* post-entry.css */
.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    font-size: 16px;
    -webkit-line-clamp: 3;
}

.first-entry .entry-footer {
    font-size: 14px;
}

.entry-header h2 {
    font-size: 24px;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

/* post-single.css */

.post-meta,
.breadcrumbs {
    color: var(--secondary);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs a {
    font-size: 16px;
}

.post-content table th {
    font-size: 14px;
    text-align: start;
}

.post-content code {
    margin: auto 4px;
    padding: 4px 6px;
    font-size: 0.78em;
    line-height: 1.5;
    background: var(--code-bg);
    border-radius: 2px;
}

.post-content figure>figcaption {
    color: var(--primary);
    font-size: 16px;
    font-weight: bold;
    margin: 8px;
}

.post-content figure>figcaption>p {
    color: var(--secondary);
    font-size: 14px;
    font-weight: normal;
    margin: 8px;
}

.post-tags a {
    display: block;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg);
}

.paginav .title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: small;
    color: var(--secondary);
}

.post-content figure {
    margin-top: calc(2 * var(--content-gap));
    margin-bottom: calc(2 * var(--content-gap));
}

.post-content figure>figcaption {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -8px;
}

.post-content figure>figcaption>p {
    color: var(--secondary);
    font-size: calc(0.813rem * var(--text-multiplier));
    font-weight: normal;
    margin-left: calc(var(--content-gap) / 2);
    margin-right: calc(var(--content-gap) / 2);
}

.post-content ul {
    margin-left: var(--content-gap);
}


/* footer */
@media screen and (max-width: 992px) {
    .list .top-link {
        transform: translateY(-5rem);
    }
}


/* // Notice colors
.notice {
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem 0;
    padding: 0 0.75rem;
    overflow: auto;
}

.notice .notice-title {
    position: relative;
    font-weight: 700;
    margin: 0 -0.75rem;
    padding: 0.2rem 3.5rem;
    border-bottom: 1px solid #fafafa;
}

.notice .notice-title i {
    position: absolute;
    top: 50%;
    left: 1.8rem;
    transform: translate(-50%, -50%);
}

.notice .notice-content {
    display: block;
    margin: 2rem 2rem;
}

.notice.question {
    background-color: #9ccc65 1a;
}

.notice.question .notice-title {
    background-color: #8bc34a 1a;
}

.notice.question .notice-title i {
    color: #7cb342;
}

.notice.info {
    background-color: #42a5f5 1a;
}

.notice.info .notice-title {
    background-color: #2196f3 1a;
}

.notice.info .notice-title i {
    color: #1e88e5;
}

.notice.warning {
    background-color: #ffca28 1a;
}

.notice.warning .notice-title {
    background-color: #ffc107 1a;
}

.notice.warning .notice-title i {
    color: #ffb300;
}

.notice.error {
    background-color: #ef5350 1a;
}

.notice.error .notice-title {
    background-color: #f44336 1a;
}

.notice.error .notice-title i {
    color: #e53935;
}

body.colorscheme-dark .notice .notice-title {
    border-bottom: 1px solid #212121;
}

@media (prefers-color-scheme: dark) {
    body.colorscheme-auto .notice .notice-title {
        border-bottom: 1px solid #212121;
    }
} */

video {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.responsiveimg {
    width: 100%;
    height: auto;
  }

.img1280 {
    width: 1280px;
    height: auto;
}

.wide-image {
    width: 80vw;
    margin-left: -10vw;
}
