<div class="profile">
  {{- with .Site.Params.profileMode }}
      <img src="{{ .imageUrl }}" alt="{{ .imageTitle | default "profile image" }}"
          height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
  {{- end}}
</div>
{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h1>{{ .Title | markdownify }}</h1>
  </header>
  <section class="entry-content">
    <p>{{ .Content | markdownify }}</p>
  </section>
</article>
{{- end -}}
